* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  background: #fff;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  min-width: 70%;
  min-height: 600px;
  border-radius: 5%;
  margin: auto;
  box-shadow: 1px 4px 8px blue;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  background-color: #666;
  border: 5px solid white;
  font-size: 80px;
  color: #fff;
  border-radius: 10%;
}

#player {
  padding: 1rem;
  font-size: 2rem;
  font-family: cursive;
}

body {
  display: flex;
  background: #eee
    url("https://catherineasquithgallery.com/uploads/posts/2021-03/1615815631_1-p-stilnii-fon-2.jpg")
    no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .container {
    min-width: 80%;
  }
}
